attrs==25.1.0 ; python_version >= "3.9"
certifi==2025.1.31 ; python_version >= "3.9"
charset-normalizer==3.4.1 ; python_version >= "3.9"
idna==3.10 ; python_version >= "3.9"
jsonschema-specifications==2024.10.1 ; python_version >= "3.9"
jsonschema==4.23.0 ; python_version >= "3.9"
referencing==0.36.2 ; python_version >= "3.9"
requests==2.32.3 ; python_version >= "3.9"
rpds-py==0.22.3 ; python_version >= "3.9"
typing-extensions==4.12.2 ; python_version < "3.13" and python_version >= "3.9"
urllib3==2.3.0 ; python_version >= "3.9"
